version: '3'
services:
  postgres:
    image: postgres
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=smart-farming
      - POSTGRES_USER=smart-farming
      - POSTGRES_PASSWORD=smart-farming